@font-face {
  font-family: simplifica;
  src: url(../SIMPLIFICA/SIMPLIFICA\ Typeface.ttf);
}

.header{
  height: 60x;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo{
  width: 150px;
  height: 35px;
  margin-top: 15px;
  margin-left: 50px;
}
.nav-item{
  margin-left: 70px;
}
.collapse{
  background-color: white;
}
.nav-link{
  font-family: simplifica;
  font-size: 25px;
}
.main{
  height: 800px;
}
.divmedio{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: flex-start;
}
h1{
  font-family: simplifica;
  font-size: 72px;
 }
 h2{
   font-family: simplifica;
   color: #e56b6f;
   font-size: 72px;
  }
 h3{
   font-family: simplifica;
  }
.divlivingdormitorio{
  grid-area: livingdor;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
}
 .aliving{
  grid-area: aliving;
  height: 100%;
  background-image: url(../multimedia/livliv.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  transition: opacity 1s;
}
.aliving:hover{
 opacity: 0.4;
}






.section{
  height: 800px;
}
.divcomedor{
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:flex-end;
}
p{
  font-family: simplifica;
  font-size: 30px;
}
.acomedor{
  height: 65%;
  background-image: url(../multimedia/comeilo.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 1s;
}

.acomedor:hover{
  opacity: 0.4;
 }

.divtexto2{
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pazul{
  color: #00509d;
  font-size: 35px;
  margin-left: 6px;
}







.adormitorio{
  background-image: url(../multimedia/habitacion1.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 1s;
}

.adormitorio:hover{
  opacity: 0.4;
 }

.hazul{
  color: #00509d;
}
.h33{
  color: #eaac8b;
  font-family: simplifica;
  font-size: 65px;
}
.divmedio3{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: flex-end;
 }




 .slider{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 100%;
 }
 .carousel{
  width: 70%;
  margin-right: 10px;
 }



.footer{
  height: 100px;
  margin-top: 100px;
 
 }
.divicons{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
 }
 .iconored{
  width: 40px;
  height: 30px;
 }

 .footer1{
  height: 100px;
  margin-top: 250px;
 
 }










 .button{
  color: pink;
  background-color: white;
}







  









@media screen and (max-width: 500px) {
  
  li{
    list-style-type: none;
    padding-right: 20px;
    margin-top: 30px;
  }
  .divmedio{
    display: none;
  }
  .divtexto2{
    display: none;
  }
  .divmedio3{
    display: none;
  }

  .main{
    height: 450px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.5fr 2.5fr;
    grid-template-areas:
    "livingdor aliving";
  }
  .section{
   height: 500px;
   margin-top: 200px;
   display: flex;
   flex-direction: column;
   justify-content: center;
  }
 
  
}
















